[submodule "Source/Firmware/libraries/codal"]
	path = Source/Firmware/libraries/codal
	url = https://github.com/lancaster-university/codal.git
[submodule "Source/Firmware/libraries/codal-bootstrap"]
	path = Source/Firmware/libraries/codal-bootstrap
	url = https://github.com/lancaster-university/codal-bootstrap.git
[submodule "Source/Firmware/libraries/codal-core"]
	path = Source/Firmware/libraries/codal-core
	url = https://github.com/lancaster-university/codal-core
[submodule "Source/Firmware/libraries/codal-microbit-nrf5sdk"]
	path = Source/Firmware/libraries/codal-microbit-nrf5sdk
	url = https://github.com/microbit-foundation/codal-microbit-nrf5sdk
[submodule "Source/Firmware/libraries/codal-microbit-v2"]
	path = Source/Firmware/libraries/codal-microbit-v2
	url = https://github.com/lancaster-university/codal-microbit-v2
[submodule "Source/Firmware/libraries/codal-nrf52"]
	path = Source/Firmware/libraries/codal-nrf52
	url = https://github.com/lancaster-university/codal-nrf52
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
