[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/codal-microbit-v2"]
	path = ThirdParty/codal-microbit-v2
	url = https://github.com/lancaster-university/codal-microbit-v2.git
[submodule "ThirdParty/codal-core"]
	path = ThirdParty/codal-core
	url = https://github.com/lancaster-university/codal-core.git
[submodule "ThirdParty/codal-nrf52"]
	path = ThirdParty/codal-nrf52
	url = https://github.com/lancaster-university/codal-nrf52.git
[submodule "ThirdParty/codal-microbit-nrf5sdk"]
	path = ThirdParty/codal-microbit-nrf5sdk
	url = https://github.com/microbit-foundation/codal-microbit-nrf5sdk.git
[submodule "ThirdParty/codal"]
	path = ThirdParty/codal
	url = https://github.com/lancaster-university/codal.git
[submodule "ThirdParty/nativefiledialog-extended"]
	path = ThirdParty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "Data/mazefiles"]
	path = Data/mazefiles
	url = https://github.com/micromouseonline/mazefiles.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/doxygen-awesome-css"]
	path = ThirdParty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
