[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/arduino-nRF5"]
	path = ThirdParty/arduino-nRF5
	url = https://github.com/sandeepmistry/arduino-nRF5.git
